#mainWrap {
    width: 100%;
    height: 100%;
}

#btRecord{
    width: 75px;
    height: 75px;
    padding: 0;
    border: none;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

#recState{
    font-size: 40px;
    line-height: 1;
    display: inline-block;
}

.idle {
    color: #6699bb;
}

#btWrapper{
    display: grid;
}

#btRecord{
    grid-row: 1;
    grid-column: 1;
}

#ctlViz{
    grid-row: 1;
    grid-column: 1;
    display: block;
}